<!-- Full Page Image Header Area -->
<!-- /Full Page Image Header Area -->
<div class="edge-container">
  <div class="row">
    <div class="col-sm-2">
      <img class="img-responsive" src="https://farm8.staticflickr.com/7113/13550769004_a20cf3216c.jpg">
      <img class="img-responsive" src="https://farm4.staticflickr.com/3777/13550769174_a4b590c2f6.jpg">
      <img class="img-responsive" src="https://farm4.staticflickr.com/3819/13550769954_226228bec2.jpg">
      <img class="img-responsive" src="https://farm8.staticflickr.com/7187/13550772934_636bc3fcce.jpg">
      <!--<img class="img-responsive" src="https://farm8.staticflickr.com/7242/13550459665_b6b292d919.jpg">-->
    </div>
    <div class="col-sm-8">
      <div id="about" class="intro">
        <div class="row">
          <div class="col-sm-12 text-center" id="name">
            <br><br><br>
            <h1><img src="http://www.missourideltachi.com/resources/dx.jpg" height="36" width="36">  Delta Chi Fraternity  <image src="http://www.missourideltachi.com/resources/dx.jpg" height="36" width="36"></h1>
            <h3>Site Under Construction</h3>
            <hr>
            <i><p class="lead">Redefining the social fraternity</p></i>
            <hr>
          </div>
        </div>
      </div>
      <!-- /Intro -->

      <!-- Services -->
      <div class="services">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
              <h2></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
              <div class="service-item">
                <div class="btn btn-default btn-lg"><%=link_to "About", about_path %></div>
                <p>Want to know more about Dela Chi's membership, history, or contact us? Here's a good place to start!</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <div class="btn btn-default btn-lg"><%=link_to "Rush", recruitment_path %></div>
                <p>Interested in Delta Chi? Click here for contact info, FAQs, and the recruitment form. We look forward to meeting you soon!</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <div class="btn btn-default btn-lg"><%=link_to "Alumni", alumni_path %></div>
                <p>Glad to see you back around these parts. Want to schedule an event, tailgate, or a visit click here!</p>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <div class="service-item">
                <a href="http://mudeltachi.wordpress.com/" target="_blank">
                <div class="btn btn-default btn-lg">Blog <span class="glyphicon glyphicon-share-alt"></span></a></div>
              </div> <!-- service item-->
              <p>Check out our latest events and news on our blog</p>
            </div> <!-- col-->
          </div> <!-- row-->
        </div> <!-- contain -->
      </div> <!-- services -->
    </div>
        <!-- /Services -->
    <div class="col-sm-2">
      <img class="img-responsive" src="https://farm8.staticflickr.com/7416/13550774784_ef93744c18.jpg">
      <img class="img-responsive" src="https://farm3.staticflickr.com/2905/13550450735_59fa3b7584.jpg">
      <img class="img-responsive" src="https://farm3.staticflickr.com/2877/13550771954_0323d48dc7.jpg">
      <!--<img class="img-responsive" src="https://farm8.staticflickr.com/7174/13550556703_d7137d08eb.jpg">-->
    </div> <!-- container -->
  </div>
</div>


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->

    <script>
    $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
          || location.hostname == this.hostname) {

          var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
    });
    </script>
  </body>
  </html>
