<div class="full-width-image-recruitment"></div>
  
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Delta Chi Prospective Members</h1>
      <ol class="breadcrumb">
        <li><%=link_to "home", "home"%></li>
        <li class="active">Prospective Members</li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#form">Recruitment Form</a>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h1>Contact Us</h1>
      <table class="table">
        <thead>
            <tr>
                <th>Recruiter Name</th>
                <th>Email</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bryndon Minter</td>
                <td><a href="mailto:MUDeltaChiRecruitment@gmail.com?Subject=Recruitment%20Inquery!" target="_top">MUDeltaChiRecruitment@gmail.com</a></td>
                <td>(913) 744-5590</td>
            </tr>
            <tr>
                <td>Brian Strohm</td>
                
                <td><a href="mailto:MUDeltaChiRecruitment@gmail.com?Subject=Recruitment%20Inquery!" target="_top">MUDeltaChiRecruitment@gmail.com</a></td>
                <td>(913) 387-9013</td>
            </tr>
        </tbody>
      </table>

      <div class="row" id="faq">

        <div class="col-sm-12">
          <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12">

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Where is the Delta Chi house?
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  The Delta Chi house is located at 501 Turner Ave. You are not required to live in the house, but it is encouraged and is a more affordable option than residential halls.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    How does Delta Chi perform academically?
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi consistently performs above the all-male university average in GPA rankings. Last semester we placed 11th overall and 3rd in new members. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    What leadership opportunities can I expect with Delta Chi?
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is operated by its members. Brothers have the opportunity to become commiittee chairmen and plan events like mom's weekend, socials, and brotherhood events.
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    How much is it going to cost?
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  As a new member, your dues are $760 the first semester and will decrease to $660 upon initiation into the fraternity.
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    Am I going to get hazed in Delta Chi?
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  No. Never. Our brotherhood eliminated hazing across the board in 1929, and we have a no tolerance policy against all forms of hazing.
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    What do I have to do as a new member?
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  First, our new members are not pledges. They are associate members. All associate members undergo an 8-week program meant to teach them about the chapter, brotherhood, and leadership.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    My parents want me to get involved. Is Delta Chi involved on campus?
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is proud to be known as one of the most involved chapters at Mizzou with brothers in Summer Welcome, Tour Team, MSA, and more.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                    Does Delta Chi participate in any philanthropic events?
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  Also with participating in countless sorority philanthropies, Delta Chi is proud to support The V Foundation for Cancer Research. Every spring, we hold "For the Cure Week" to raise money for this cause.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                    What other activities does Delta Chi do?
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi also participates in Homecoming, Greek Week, RAMS, various intramural sports, social events, and a formal that we attend every spring.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <h1 class="page-header" id="form"></h1>
          <div id="wufoo-z1jlkg490ohibjj">
            Fill out my <a href="https://missourideltachi.wufoo.com/forms/z1jlkg490ohibjj">online form</a>.
            </div>
            <script type="text/javascript">var z1jlkg490ohibjj;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'missourideltachi', 
            'formHash':'z1jlkg490ohibjj', 
            'autoResize':true,
            'height':'1259',
            'async':true,
            'host':'wufoo.com',
            'header':'show', 
            'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { z1jlkg490ohibjj = new WufooForm();z1jlkg490ohibjj.initialize(options);z1jlkg490ohibjj.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>

        </div>
      </div>
      <p>
      <center>Thanks, we'll contact you soon.</center>  
    </p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive" src="https://farm3.staticflickr.com/2904/13550563663_17251e26e1.jpg" id="bm">
        <center><b>Bryndon Minter</b>, Senior Recruiter
        <hr></center>
        <img class="img-circle img-responsive" src="https://farm8.staticflickr.com/7215/13550463525_786c90c287.jpg" id="bs">
        <center><b>Brian Strohm</b>, Apprentice Recruiter
        <hr></center>
    </div> <!-- column 12 end -->
  </div> <!-- row div -->
</div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
