// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,html {
	height: 100%;
}

#comment {
  min-height: 22px;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn-toolbar {
  text-align:center;
}
/*
a:link {color:#d9534f;}
a:visited {color:#d43f3a;}

.container {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}
*/

.edge-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.left-edge {
    float: left;
    background: #000;
    margin-top:40px;
    width: 100% !important;
    height: 500px;
    position: absolute;
}

.right-edge {
    float: right;
    background: #000;
    margin-top:40px;
    width: 100% !important;
    height: 100%;
    position: absolute;
}

.icons-fixed
{
  position: fixed;
  margin-left: 5px;
  margin-top: 5px;
}

.fixed {  
        position: fixed;   
        top: 270px;  
        //margin-left: 50px;  
}

.full-width-image-recruitment {
  background: url(https://farm8.staticflickr.com/7244/13552772794_f9dafed95c_o.png) no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 220px;
}









