<div class="container" id="top">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header" id="top">Meet The Actives</h1>
      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li class="active">Meet Us</li>
      </ol>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-12" id="main-area">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#exec" data-toggle="tab">Executives</a></li>
        <li><a href="#com" data-toggle="tab">Committee Heads</a></li>
        <li><a href="#all" data-toggle="tab">All Members</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="exec">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7459/13550783424_4c45e7cb86.jpg">
                    <center><h3>Jake Meyers<br><small>President <span class="label label-danger">A</span><br></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7431/13550564683_d0a08f7d2b.jpg">
                    <center><h3>Tyler Gill<br><small>Vice President <span class="label label-danger">B</span></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h3>Connor Bjornnes<br><small>Secretary <span class="label label-danger">C</span></small></h3></center>
                  </div>
                </div>      
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm4.staticflickr.com/3724/13550564823_a69ca4cc5a.jpg">
                    <center><h3>Zach Hadler<br><small>Treasurer <span class="label label-danger">D</span></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm4.staticflickr.com/3680/13550565133_2c6c52b979.jpg">
                    <center><h3>Gian Wessel<br><small>Alumni <span class="label label-danger">E</span></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm3.staticflickr.com/2891/13550463625_906d00e93f.jpg">
                    <center><h3>Calvin Rankin<br><small>Risk Manager <span class="label label-danger">F</span></small></h3></center>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end of exec -->
          <div class="tab-pane fade" id="com">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Austin Lewis<br><small>Merchandise</small></h4></center>
                  </div>

                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Andrew Carnahan<br><small>Brotherhood</small></h4></center>
                  </div>

                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7164/13550565473_086bd023e8.jpg">
                    <center><h4>Eric Jackson<br><small>Sports</small></h4></center>
                  </div>                
                </div>
                <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7215/13550463525_786c90c287.jpg">
                    <center><h4>Brian Strom<br><small>Ritual</small></h4></center>
                  </div> 
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm4.staticflickr.com/3767/13550781704_6110ebb4e7.jpg">
                    <center><h4>Danny Renner<br><small>Service</small></h4></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7310/13550783214_99bd03e43c.jpg">
                    <center><h4>Cole Lawson<br><small>Internal Philanthropy</small></h4></center>
                  </div>              
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Brock Scoville<br><small>External Philanthropy</small></h4></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7021/13550464085_85e59b5a43.jpg">
                   <center><h4>Adam Joyce<br><small>Academics</small></h4></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Ryan Ebert<br><small>Banner Chair</small></h4></center>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end of committee -->
          <div class="tab-pane fade" id="all">
            <div class="row">
              <div class="col-sm-8">
                <table class="table table-striped table-condensed">
                  <tbody>
                    <th colspan="2" id="be">Beta Epsilon &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                    <tr><td>Japanese Johnson</td><td>Beta Epsilon</td></tr>
                      
                    <th colspan="2" id="bd">Beta Delta &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    <tr><td>Drew Wetherington</td><td>Beta Delta</td></tr>
                    
                    <th colspan="2" id="bg">Beta Gamma &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    <tr><td>John Doe</td><td>Beta Gamma</td></tr>
                    
                    <th colspan="2" id="bb">Beta Beta &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>
                    <tr><td>John Doe</td><td>Beta Beta</td></tr>

                    <th colspan="2" id="ba">Beta Alpha &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                    <tr><td>John Doe</td><td>Beta Alpha</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-4">
                  <div class="navbar-example">
                    <ul class="nav nav-pills nav-stacked fixed">
                      <li><a href="#be">Beta Epsilon</a></li>
                      <li><a href="#bd">Beta Delta</a></li>
                      <li><a href="#bg">Beta Gamma</a></li>
                      <li><a href="#bb">Beta Beta</a></li>
                      <li><a href="#ba">Beta Alpha</a></li>
                      <li><a href="#az">Alpha Zed</a></li>
                      <li><a href="#ap">Alpha Psi</a></li>
                      <li><a href="#ax">Alpha Xi</a></li>
                    </ul>
                  </div>
              </div>
          </div> <!-- end of all tab -->
        </div>
      </div>
    </div>
  </div><!-- row -->
  <hr>
</div><!-- /.container -->

<script>
  $('body').scrollspy({ target: '.navbar-example' })
})
</script>

<script>
$(document).ready(function() {  
 // check where the shoppingcart-div is  
 var offset = $("#comment").offset().top;  

 $(window).scroll(function () {  
   var scrollTop = $("#comment").scrollTop(); // check the visible top of the browser  


   if (scrollTop>50) {alert($("").scrollTop()+" px");
    $("#comment").addClass('fixed');  }
   else $("#comment").removeClass('fixed');  
  });  
}); 
</script>
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">


