<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <link rel="shortcut icon" href="http://a0.twimg.com/profile_images/2403590114/s5j76ugc1q6pjwonk9jf.jpeg"/>
  <title>MU Delta Chi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="width=1024" name="viewport">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45687922-1', 'mudx.herokuapp.com');
  ga('send', 'pageview');
  </script>
</head>

<body>

<nav class="navbar-inner navbar  navbar-inverse navbar-fixed-top" role="navigation" name="top" id="navbargod">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="navbar-brand active" href=".">MU Delta Chi</a>        
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="nav navbar-nav navbar-left">
          
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%=link_to "About", about_path %></li>
          <li><%=link_to "Meet Us", meet_path %></li>   
          <li><%=link_to "Recruitment", recruitment_path %></li>  
          <li><a href="http://mudeltachi.wordpress.com/" target="_blank">Blog <span class="glyphicon glyphicon-share-alt"><span></a></li>
          <li><%=link_to "Alumni", alumni_path %></li>
          <li><%=link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </div><!-- /.container -->
  </div>
</nav>

<div>
  <ul class="list-unstyled icons-fixed">
    <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/groups/missourideltachialumni/" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
    </li>
    <li class="tooltip-social twitter-link"><a href="https://twitter.com/MizzouDeltaChi" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
    </li>
    <li class="tooltip-social hq-link"><a href="http://www.deltachi.org/" data-toggle="tooltip" data-placement="top" title="Delta Chi HQ"><i class="fa fa-home fa-2x"></i></a>
    </li>
  </ul>
</div>
<%= yield %>
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p><center><a href="http://www.jimmyv.org/partners/delta-chi/"><img class="img" width="16px" src="https://farm8.staticflickr.com/7242/13550459665_b6b292d919.jpg"></a> &#149; &copy;2014 Missouri Delta Chi Fraternity</center></p>
    <!-- </div>
    <a href="#top" id="scroll-top-link" class="avia-font-entypo-fontello avia_pop_class">Top</a>
  </div> -->
</footer>
</body>
</html>
